*{
	margin:0;
	padding:0;
	border:none;
}
ul, li {list-style:none; text-decoration:none;}
a{ color:#0e4b8e; text-decoration:none; outline:none; border:none;}
a:hover{ text-decoration:none; color:#737373;}
img{ max-width:100%; vertical-align:middle;}
  
  
/* --------------------- common css ---------------------- */

body{
	background:#2c3545;
	font-weight:400;
	font-size:14px;
	color:#777;
}
.container{ 
	margin:0 auto;
}

#page-wrapper{ background:#ebf1f5; border-top:10px solid #354052;}
.navbar-default {
    background-color: #2c3545;
}
.nav > li > a{ border-left:2px solid #2c3545; color:#fff; padding:10px; border-bottom:1px solid #354052; font-size:14px;}
.sidebar{ margin-top:80px;}
.sidebar-nav li a{ padding:18px 10px}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #354052;
    text-decoration: none;
	border-left:2px solid #e8c260;
}
.sidebar ul li{ border:none;}
.navbar-brand{ text-align: center; padding:30px 0;}

.bootstrap-select { width:100% !important;  margin-bottom: 16px;}
.input-field .form-control, .input-field .input-group-btn .btn, .input-field .btn-default{ margin-bottom:16px;}
.input-field .dropdown-toggle{ margin-bottom:0;}


.table-responsive .load-more{text-align: center; padding:20px 0; background: #f6f6f7; text-transform:uppercase; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.table-responsive .load-more:hover{ background:#d94e5c; color:#fff;}